body {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #1d305f;
  margin: 20px;
  padding: 0;
}

#BI_logo1 {
  float: right;
  width:  80px;
  height: 80px;
  margin: 0 0 0 20px;
}

#spex_logo {
  float: left;
  width:  80px;
  height: 80px;
  margin: 0 20px 20px 0;
  cursor: pointer;
}


#dataset_name_info {
  float: left;
  width:  20px;
  height: 20px;
}

#upload_general_info {
  font-size: 16px;
}

.modal_conf1 {
  background-color: #edeff0;
  color: black;
  font-size: 12px;
  line-height: 20px;
}

/*.modal_conf1 > thead {
  background-color: blue;
  font-weight: bold;
  font-size: 12px;
}
*/
.modal_conf1 > thead > tr > th {
  font-weight: bold;
  color: orange;
  padding: 10px;
}

#tableHTML_rownames {
  color: red;
  padding: 0px 10px;
}

.potentialIssues {
  background-color: #FDE187;
  text-align: left;
  color: black;
  padding: 20px;
}

.summaryText {
  background-color: #D4ECDC;
  text-align: left;
  color: black;
  padding: 20px;
}

.success {
  font-size: 24px;
}

.shinyalertmodal {
  font-size: 20px;
}

.info_logo {
  float: left;
  width:  20px;
  height: 20px;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
 /* z-index: 1; /* Sit on top */
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.sweet-alert {
  max-height: calc(100% - 10px);
}

.sweet-alert p {
  color: black;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  font-weight: 600;
}

.btn-default {
  color: black;
}

.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #ff6600e6;
  color: black;
  padding: 5px 10px;
  margin: 20px 10px;
  border-radius: 8px;
}